@CHARSET "UTF-8";

body{
	background-color: pink;
}

.image{
	background-color: black;
	/*flex: 1 1 450px;*/
}

.curr{
	align-items: center;
	display: -webkit-flex;
	display: flex;
	background-color: gray;
	flex: 3;
	flex-flow: row;
	border: 2px solid black;
	padding-right: 1em;
}

.presInfo{
	text-align: justify;
	font-size: 1.3em;
}

.mainContainer{
	align-items: center;
	display: -webkit-flex;
	display: flex;
	flex-flow: row;
}

.mainContainer a{
	flex: 1;
}

#nextPres{
	display: flex;
	justify-content: flex-end;
}

.navButtons{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 90%;
}

.navButtons a{
	flex-shrink: 1;
}
