.background {
	background-image: url("../img/bg/flagBackground2.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
}

h1 {
	font-family: Snell Roundhand, cursive;
	text-align: center;
	color: white;
	font-size: 3em;
	text-shadow: 2px 2px 4px #000000;
}

.dropdownList{
   height: 34px;
   background: rgba(150, 0, 0, 0.66);
   border: 1px solid #ccc;
   font-size: 1em;
   color: #ffffff;
}

